<div class="container">

  <div class="calc">
    <app-output></app-output>
<!--    <section class = "txt-out">-->
<!--      <div class="input-group">-->
<!--        <textarea disabled type="text">{{operand1 + ' ' + operator + ' ' + operand2}}</textarea>-->
<!--      </div>-->
<!--      <hr>-->
<!--      <div class="input-group">-->
<!--        <textarea disabled type="text">{{result}}</textarea>-->
<!--      </div>-->
<!--    </section>-->

    <app-input></app-input>
<!--    <div class = "buttons">-->
<!--        <button class="btn btn-lg"      type="button" (click)="pressOperator('%')">%</button>-->
<!--        <button class="btn btn-danger"  type="button" (click)="allClear()">CE</button>-->
<!--        <button class="btn btn-danger"  type="button" (click)="allClear()">C</button>-->
<!--        <button class="btn btn-warning" type="button" (click)="clear()">-->
<!--          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">-->
<!--            <path d="M48.5 224H40c-13.3 0-24-10.7-24-24V72c0-9.7 5.8-18.5 14.8-22.2s19.3-1.7 26.2 5.2L98.6 96.6c87.6-86.5 228.7-86.2 315.8 1c87.5 87.5 87.5 229.3 0 316.8s-229.3 87.5-316.8 0c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0c62.5 62.5 163.8 62.5 226.3 0s62.5-163.8 0-226.3c-62.2-62.2-162.7-62.5-225.3-1L185 183c6.9 6.9 8.9 17.2 5.2 26.2s-12.5 14.8-22.2 14.8H48.5z"/>-->
<!--          </svg>-->
<!--        </button>-->

<!--        <button class="btn btn-primary" type="button" (click)="reciprocal()">-->
<!--          <sup>1</sup> / <sub>x</sub>-->
<!--        </button>-->
<!--        <button class="btn btn-primary" type="button" (click)="sqrt()">√ x</button>-->
<!--        <button class="btn btn-primary" type="button" (click)="sq()">-->
<!--          x<sup> 2</sup>-->
<!--        </button>-->
<!--        <button class="btn btn-primary" type="button" (click)="pressOperator('/')">÷</button>-->

<!--        <button class="btn btn-lg btn-outline-success" type="button" (click)="addNum('7')">7</button>-->
<!--        <button class="btn btn-lg btn-outline-success" type="button" (click)="addNum('8')">8</button>-->
<!--        <button class="btn btn-lg btn-outline-success" type="button" (click)="addNum('9')">9</button>-->
<!--        <button class="btn btn-lg btn-primary" type="button" (click)="pressOperator('*')">×</button>-->

<!--        <button class="btn btn-lg btn-outline-success" type="button" (click)="addNum('4')">4</button>-->
<!--        <button class="btn btn-lg btn-outline-success" type="button" (click)="addNum('5')">5</button>-->
<!--        <button class="btn btn-lg btn-outline-success" type="button" (click)="addNum('6')">6</button>-->
<!--        <button class="btn btn-lg btn-primary" type="button" (click)="pressOperator('-')">-</button>-->

<!--        <button class="btn btn-lg btn-outline-success" type="button" (click)="addNum('1')">1</button>-->
<!--        <button class="btn btn-lg btn-outline-success" type="button" (click)="addNum('2')">2</button>-->
<!--        <button class="btn btn-lg btn-outline-success" type="button" (click)="addNum('3')">3</button>-->
<!--        <button class="btn btn-lg btn-primary" type="button" (click)="pressOperator('+')">+</button>-->

<!--        <button class="btn btn-lg btn-outline-success" type="button" (click)="negate()">-->
<!--&lt;!&ndash;          <sup>+</sup>/<sub>-</sub>&ndash;&gt;+/- -->
<!--        </button>-->
<!--        <button class="btn btn-lg btn-outline-success" type="button" (click)="addNum('0')">0</button>-->
<!--        <button class="btn btn-lg btn-outline-success" type="button" (click)="addNum('.')">.</button>-->
<!--        <button class="btn btn-lg btn-success" type="button" (click)="getAnswer()">=</button>-->

<!--    </div>-->
  </div>
</div>
