<div class = "buttons">
  <button class="btn btn-op"      (click)="do('per','%')">%</button>
  <button class="btn btn-danger"  (click)="do('clear','')">CE</button>
  <button class="btn btn-danger"  (click)="do('clear','')">C</button>
  <button class="btn btn-er" (click)="do('undo','')">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1280 1024">
      <path d="M576 64H205.26A63.97 63.97 0 0 0 160 82.75L9.37 233.37c-12.5 12.5-12.5 32.76 0 45.25L160
      429.25c12 12 28.28 18.75 45.25 18.75H576c35.35 0 64-28.65 64-64V128c0-35.35-28.65-64-64-64zm-84.69
      254.06c6.25 6.25 6.25 16.38 0 22.63l-22.62 22.62c-6.25 6.25-16.38 6.25-22.63 0L384 301.25l-62.06
      62.06c-6.25 6.25-16.38 6.25-22.63 0l-22.62-22.62c-6.25-6.25-6.25-16.38 0-22.63L338.75
      256l-62.06-62.06c-6.25-6.25-6.25-16.38 0-22.63l22.62-22.62c6.25-6.25 16.38-6.25 22.63 0L384
      210.75l62.06-62.06c6.25-6.25 16.38-6.25 22.63 0l22.62 22.62c6.25 6.25 6.25 16.38 0 22.63L429.25
      256l62.06 62.06z"/></svg>
  </button>

  <button class="btn btn-op" (click)="do('rec','')">
    𝑥<sup>-1</sup>
  </button>
  <button class="btn btn-op" (click)="do('sqrt','')">√𝑥</button>
  <button class="btn btn-op" (click)="do('sq','')">
    𝑥<sup> 2</sup>
  </button>
  <button class="btn btn-op" (click)="do('op', '/')">÷</button>

  <button class="btn-num" (click)="do('num', '7')">7</button>
  <button class="btn-num" (click)="do('num', '8')">8</button>
  <button class="btn-num" (click)="do('num', '9')">9</button>
  <button class="btn btn-op" (click)="do('op', '×')">×</button>

  <button class="btn-num" (click)="do('num', '4')">4</button>
  <button class="btn-num" (click)="do('num', '5')">5</button>
  <button class="btn-num" (click)="do('num', '6')">6</button>
  <button class="btn btn-lg btn-op" (click)="do('op', '-')">-</button>

  <button class="btn-num" (click)="do('num', '1')">1</button>
  <button class="btn-num" (click)="do('num', '2')">2</button>
  <button class="btn-num" (click)="do('num', '3')">3</button>
  <button class="btn btn-lg btn-op" (click)="do('op', '+')">+</button>

  <button class="btn-num" (click)="do('neg', '')">
              <sup>+</sup>/<sub>-</sub>
  </button>
  <button class="btn-num" (click)="do('num', '0')">0</button>
  <button class="btn-num" (click)="do('num', '.')">.</button>
  <button class="btn btn-success" (click)="do('result', '')">=</button>

</div>
